In [4]:
import numpy as np
import pandas as pd
import sqlalchemy
import sqlite3
import pymysql
#import pandas_profiling as pp

In [5]:
eng=sqlalchemy.create_engine('mysql+pymysql://root:123456@localhost/dataco')

In [6]:
df = pd.read_csv('owid-covid-data NEW.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390684 entries, 0 to 390683
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    390684 non-null  object
 1   continent                                   371988 non-null  object
 2   location                                    390684 non-null  object
 3   date                                        390684 non-null  object
 4   total_cases                                 351749 non-null  float64
 5   new_cases                                   379668 non-null  float64
 6   new_cases_smoothed                          378438 non-null  float64
 7   total_deaths                                329441 non-null  float64
 8   new_deaths                                  379991 non-null  float64
 9   new_deaths_smoothed                         378761 non-null  float64
 10  total_cases_per_million                     351749 non-null  float64
 11  new_cases_per_million                       379668 non-null  float64
 12  new_cases_smoothed_per_million              378438 non-null  float64
 13  total_deaths_per_million                    329441 non-null  float64
 14  new_deaths_per_million                      379991 non-null  float64
 15  new_deaths_smoothed_per_million             378761 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                38709 non-null   float64
 18  icu_patients_per_million                    38709 non-null   float64
 19  hosp_patients                               40249 non-null   float64
 20  hosp_patients_per_million                   40249 non-null   float64
 21  weekly_icu_admissions                       10727 non-null   float64
 22  weekly_icu_admissions_per_million           10727 non-null   float64
 23  weekly_hosp_admissions                      24212 non-null   float64
 24  weekly_hosp_admissions_per_million          24212 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          83538 non-null   float64
 35  people_vaccinated                           79393 non-null   float64
 36  people_fully_vaccinated                     76282 non-null   float64
 37  total_boosters                              51716 non-null   float64
 38  new_vaccinations                            69263 non-null   float64
 39  new_vaccinations_smoothed                   190318 non-null  float64
 40  total_vaccinations_per_hundred              83538 non-null   float64
 41  people_vaccinated_per_hundred               79393 non-null   float64
 42  people_fully_vaccinated_per_hundred         76282 non-null   float64
 43  total_boosters_per_hundred                  51716 non-null   float64
 44  new_vaccinations_smoothed_per_million       190318 non-null  float64
 45  new_people_vaccinated_smoothed              187645 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  187645 non-null  float64
 47  stringency_index                            197292 non-null  float64
 48  population_density                          332221 non-null  float64
 49  median_age                                  308802 non-null  float64
 50  aged_65_older                               298165 non-null  float64
 51  aged_70_older                               305706 non-null  float64
 52  gdp_per_capita                              302809 non-null  float64
 53  extreme_poverty                             195193 non-null  float64
 54  cardiovasc_death_rate                       303383 non-null  float64
 55  diabetes_prevalence                         319042 non-null  float64
 56  female_smokers                              227731 non-null  float64
 57  male_smokers                                224635 non-null  float64
 58  handwashing_facilities                      148658 non-null  float64
 59  hospital_beds_per_thousand                  267979 non-null  float64
 60  life_expectancy                             359886 non-null  float64
 61  human_development_index                     294274 non-null  float64
 62  population                                  390684 non-null  float64
 63  excess_mortality_cumulative_absolute        13216 non-null   float64
 64  excess_mortality_cumulative                 13216 non-null   float64
 65  excess_mortality                            13216 non-null   float64
 66  excess_mortality_cumulative_per_million     13216 non-null   float64
dtypes: float64(62), object(5)
memory usage: 199.7+ MB

In [49]:
df = df[df.location != 'Israel']

In [7]:
df=df.drop(columns = ["cardiovasc_death_rate","total_cases_per_million","new_cases_per_million"
                  ,"new_cases_smoothed_per_million","total_deaths_per_million","new_deaths_per_million"
                  ,"new_deaths_smoothed_per_million"
                  ,"new_deaths_smoothed_per_million", 
                    "icu_patients_per_million",
                    "hosp_patients_per_million","weekly_icu_admissions","weekly_hosp_admissions",
                    "weekly_icu_admissions_per_million",
                     "weekly_hosp_admissions_per_million",
                    "total_tests_per_thousand",
                    "new_tests_per_thousand",
                    "new_tests_smoothed_per_thousand",
                      "total_boosters_per_hundred",
                    "total_vaccinations_per_hundred",             
                          
                    "new_vaccinations_smoothed_per_million",
                    "new_people_vaccinated_smoothed_per_hundred",
                    "gdp_per_capita",
                    "hospital_beds_per_thousand",
                    "excess_mortality_cumulative_per_million",
                    "new_cases_smoothed",
                    "new_deaths_smoothed", 
                    "new_cases_smoothed_per_million",
                    "new_tests_smoothed",                        
                    "new_tests_smoothed_per_thousand",
                    "new_vaccinations_smoothed",
                    "new_vaccinations_smoothed_per_million",  
                    "new_people_vaccinated_smoothed",     
                    "new_people_vaccinated_smoothed_per_hundred","tests_units","diabetes_prevalence","excess_mortality","excess_mortality_cumulative",
"excess_mortality_cumulative_absolute",
"stringency_index",
"positive_rate",
"total_boosters",
"new_vaccinations",
"median_age",
"extreme_poverty",
"handwashing_facilities",
"life_expectancy",
"human_development_index"])

In [8]:
df["nulls"]=df.isnull().sum(axis = 1)

In [9]:
df.isnull().sum(axis = 1).unique()

array([15, 14, 12,  9,  7, 11,  6, 10, 13,  8, 19, 18, 17,  4,  2,  5, 16,
        1,  0,  3, 20], dtype=int64)

In [10]:
df.isnull().sum(axis = 1).value_counts()

11    61635
10    46509
12    42241
13    38838
15    33368
7     27140
5     19856
17    15553
9     15465
16    15081
2     12363
6     11323
8     10266
4      8777
14     8236
0      7448
18     7326
3      4736
1      2897
19      952
20      674
dtype: int64

In [11]:
df=df[df["nulls"] < 16]
df

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,aged_65_older,aged_70_older,female_smokers,male_smokers,population,nulls
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0,15
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0,15
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0,15
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0,15
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390679,ZWE,Africa,Zimbabwe,2024-03-27,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0,11
390680,ZWE,Africa,Zimbabwe,2024-03-28,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0,11
390681,ZWE,Africa,Zimbabwe,2024-03-29,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0,11
390682,ZWE,Africa,Zimbabwe,2024-03-30,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0,11
390683,ZWE,Africa,Zimbabwe,2024-03-31,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0,11

In [12]:
df=df.drop("nulls",axis='columns')
df

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,people_vaccinated,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,aged_65_older,aged_70_older,female_smokers,male_smokers,population
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390679,ZWE,Africa,Zimbabwe,2024-03-27,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
390680,ZWE,Africa,Zimbabwe,2024-03-28,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
390681,ZWE,Africa,Zimbabwe,2024-03-29,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
390682,ZWE,Africa,Zimbabwe,2024-03-30,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
390683,ZWE,Africa,Zimbabwe,2024-03-31,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366067 entries, 0 to 390683
Data columns (total 24 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   iso_code                             366067 non-null  object
 1   continent                            351728 non-null  object
 2   location                             366067 non-null  object
 3   date                                 366067 non-null  object
 4   total_cases                          340314 non-null  float64
 5   new_cases                            359158 non-null  float64
 6   total_deaths                         325544 non-null  float64
 7   new_deaths                           359483 non-null  float64
 8   reproduction_rate                    184776 non-null  float64
 9   icu_patients                         37101 non-null   float64
 10  hosp_patients                        38087 non-null   float64
 11  total_tests                          79375 non-null   float64
 12  new_tests                            75392 non-null   float64
 13  tests_per_case                       94348 non-null   float64
 14  total_vaccinations                   83346 non-null   float64
 15  people_fully_vaccinated              76172 non-null   float64
 16  people_vaccinated_per_hundred        79278 non-null   float64
 17  people_fully_vaccinated_per_hundred  76172 non-null   float64
 18  population_density                   328378 non-null  float64
 19  aged_65_older                        297268 non-null  float64
 20  aged_70_older                        304204 non-null  float64
 21  female_smokers                       227731 non-null  float64
 22  male_smokers                         224635 non-null  float64
 23  population                           366067 non-null  float64
dtypes: float64(20), object(4)
memory usage: 69.8+ MB

In [12]:
#df.to_sql('main',eng,index =False)

366067

In [13]:
#pd.read_sql('main',eng)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,total_vaccinations,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,aged_65_older,aged_70_older,female_smokers,male_smokers,population
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366062,ZWE,Africa,Zimbabwe,2024-03-27,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
366063,ZWE,Africa,Zimbabwe,2024-03-28,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
366064,ZWE,Africa,Zimbabwe,2024-03-29,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
366065,ZWE,Africa,Zimbabwe,2024-03-30,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
366066,ZWE,Africa,Zimbabwe,2024-03-31,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0

In [14]:
l=df['location'].nunique()
df_locations=pd.DataFrame([{'locations':l}])
df_locations

   locations
0        253

In [15]:
df_locations.to_sql('df_locations',eng,index =False)

1

In [50]:
df['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'High income', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Scotland', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna', 'World',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [13]:
df_world = df[df.location == 'World']
df_world

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,people_vaccinated,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,aged_65_older,aged_70_older,female_smokers,male_smokers,population
384477,OWID_WRL,NaN,World,2020-01-05,2.0,2.0,3.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,58.045,8.696,5.355,6.434,34.635,7.975105e+09
384478,OWID_WRL,NaN,World,2020-01-06,2.0,0.0,3.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,58.045,8.696,5.355,6.434,34.635,7.975105e+09
384479,OWID_WRL,NaN,World,2020-01-07,2.0,0.0,3.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,58.045,8.696,5.355,6.434,34.635,7.975105e+09
384480,OWID_WRL,NaN,World,2020-01-08,2.0,0.0,3.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,58.045,8.696,5.355,6.434,34.635,7.975105e+09
384481,OWID_WRL,NaN,World,2020-01-09,2.0,0.0,3.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,58.045,8.696,5.355,6.434,34.635,7.975105e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386035,OWID_WRL,NaN,World,2024-04-11,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630425e+09,5.176872e+09,70.6,64.91,58.045,8.696,5.355,6.434,34.635,7.975105e+09
386036,OWID_WRL,NaN,World,2024-04-12,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630425e+09,5.176872e+09,70.6,64.91,58.045,8.696,5.355,6.434,34.635,7.975105e+09
386037,OWID_WRL,NaN,World,2024-04-13,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630425e+09,5.176872e+09,70.6,64.91,58.045,8.696,5.355,6.434,34.635,7.975105e+09
386038,OWID_WRL,NaN,World,2024-04-14,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630425e+09,5.176872e+09,70.6,64.91,58.045,8.696,5.355,6.434,34.635,7.975105e+09
386039,OWID_WRL,NaN,World,2024-04-15,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630425e+09,5.176872e+09,70.6,64.91,58.045,8.696,5.355,6.434,34.635,7.975105e+09

In [18]:
df_world.to_sql('df_world',eng,index =False)

1563

In [19]:
pd.read_sql('df_world',eng)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,total_vaccinations,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,aged_65_older,aged_70_older,female_smokers,male_smokers,population
0,OWID_WRL,None,World,2020-01-05,2.0,2.0,3.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,58.045,8.696,5.355,6.434,34.635,7.975105e+09
1,OWID_WRL,None,World,2020-01-06,2.0,0.0,3.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,58.045,8.696,5.355,6.434,34.635,7.975105e+09
2,OWID_WRL,None,World,2020-01-07,2.0,0.0,3.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,58.045,8.696,5.355,6.434,34.635,7.975105e+09
3,OWID_WRL,None,World,2020-01-08,2.0,0.0,3.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,58.045,8.696,5.355,6.434,34.635,7.975105e+09
4,OWID_WRL,None,World,2020-01-09,2.0,0.0,3.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,58.045,8.696,5.355,6.434,34.635,7.975105e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,OWID_WRL,None,World,2024-04-11,NaN,NaN,NaN,NaN,NaN,NaN,...,1.357075e+10,5.176872e+09,70.6,64.91,58.045,8.696,5.355,6.434,34.635,7.975105e+09
1559,OWID_WRL,None,World,2024-04-12,NaN,NaN,NaN,NaN,NaN,NaN,...,1.357075e+10,5.176872e+09,70.6,64.91,58.045,8.696,5.355,6.434,34.635,7.975105e+09
1560,OWID_WRL,None,World,2024-04-13,NaN,NaN,NaN,NaN,NaN,NaN,...,1.357075e+10,5.176872e+09,70.6,64.91,58.045,8.696,5.355,6.434,34.635,7.975105e+09
1561,OWID_WRL,None,World,2024-04-14,NaN,NaN,NaN,NaN,NaN,NaN,...,1.357075e+10,5.176872e+09,70.6,64.91,58.045,8.696,5.355,6.434,34.635,7.975105e+09
1562,OWID_WRL,None,World,2024-04-15,NaN,NaN,NaN,NaN,NaN,NaN,...,1.357075e+10,5.176872e+09,70.6,64.91,58.045,8.696,5.355,6.434,34.635,7.975105e+09

In [47]:
d_max=df_world['new_deaths'].max()
df_world2=df_world[df_world['new_deaths'] == df_world['new_deaths'].max()]['date'].reset_index().reset_index(drop=True).drop("index",axis='columns')
df_world2['new_deaths']=d_max
df_world2

         date  new_deaths
0  2021-01-24    103719.0

In [21]:
df_world2.to_sql('df_world2',eng,index =False)

1

In [22]:
pd.read_sql('df_world2',eng)

         date
0  2021-01-24

In [23]:
df_world_recent = df_world[df_world['new_cases'] == df_world.new_cases.max()]
df_world_recent

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,total_vaccinations,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,aged_65_older,aged_70_older,female_smokers,male_smokers,population
385562,OWID_WRL,NaN,World,2022-12-25,704631589.0,44236227.0,6695696.0,20316.0,0.96,NaN,...,1.315631e+10,5.043285e+09,69.01,63.24,58.045,8.696,5.355,6.434,34.635,7.975105e+09

In [28]:
df_world_recent=df_world_recent.groupby("date")[["total_cases","new_cases","new_deaths","total_deaths"]].sum().reset_index().sort_values("date",ascending=True).reset_index(drop=True)
df_world_recent

         date  total_cases   new_cases  new_deaths  total_deaths
0  2022-12-25  704631589.0  44236227.0     20316.0     6695696.0

In [24]:
df_world_recent.to_sql('df_world_recent',eng,index =False)

1

In [25]:
pd.read_sql('df_world_recent',eng)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,total_vaccinations,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,aged_65_older,aged_70_older,female_smokers,male_smokers,population
0,OWID_WRL,None,World,2022-12-25,704631589.0,44236227.0,6695696.0,20316.0,0.96,NaN,...,1.315631e+10,5.043285e+09,69.01,63.24,58.045,8.696,5.355,6.434,34.635,7.975105e+09

In [26]:
df_world_over_time = df_world.groupby(["date"])[["total_cases","new_cases","total_deaths","new_deaths"]].sum().reset_index().sort_values("date",ascending=True).reset_index(drop=True)
df_world_over_time

            date  total_cases  new_cases  total_deaths  new_deaths
0     2020-01-05          2.0        2.0           3.0         3.0
1     2020-01-06          2.0        0.0           3.0         0.0
2     2020-01-07          2.0        0.0           3.0         0.0
3     2020-01-08          2.0        0.0           3.0         0.0
4     2020-01-09          2.0        0.0           3.0         0.0
...          ...          ...        ...           ...         ...
1558  2024-04-11          0.0        0.0           0.0         0.0
1559  2024-04-12          0.0        0.0           0.0         0.0
1560  2024-04-13          0.0        0.0           0.0         0.0
1561  2024-04-14          0.0        0.0           0.0         0.0
1562  2024-04-15          0.0        0.0           0.0         0.0

[1563 rows x 5 columns]

In [27]:
df_world_over_time.to_sql('df_world_over_time',eng,index =False)
pd.read_sql('df_world_over_time',eng)

1563

In [30]:
df_world['total_cases'].max()

775251765.0

In [31]:
t_c=df_world['total_cases'].max()
df_total_cases=pd.DataFrame([{'total_cases':t_c}])
df_total_cases

   total_cases
0  775251765.0

In [32]:
df_total_cases.to_sql('df_total_cases',eng,index =False)
pd.read_sql('df_total_cases',eng)

   total_cases
0  775251765.0

In [33]:
df_world_ratio = df_world['total_cases'].max() / df_world['population'].max()
df_world_ratio

0.0972089725046861

In [34]:

df_world_ratio=pd.DataFrame([{'world_ratio':df_world_ratio}])
df_world_ratio

   world_ratio
0     0.097209

In [35]:
df_world_ratio.to_sql('df_world_ratio',eng,index =False)
pd.read_sql('df_world_ratio',eng)

   world_ratio
0     0.097209

In [59]:
df_syria = df[df['location'] == 'Syria']
df_syria

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,people_vaccinated,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,aged_65_older,aged_70_older,female_smokers,male_smokers,population
338657,SYR,Asia,Syria,2020-04-05,16.0,11.0,2.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0
338658,SYR,Asia,Syria,2020-04-06,16.0,0.0,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0
338659,SYR,Asia,Syria,2020-04-07,16.0,0.0,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0
338660,SYR,Asia,Syria,2020-04-08,16.0,0.0,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0
338661,SYR,Asia,Syria,2020-04-09,16.0,0.0,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340109,SYR,Asia,Syria,2024-03-27,57423.0,0.0,3163.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0
340110,SYR,Asia,Syria,2024-03-28,57423.0,0.0,3163.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0
340111,SYR,Asia,Syria,2024-03-29,57423.0,0.0,3163.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0
340112,SYR,Asia,Syria,2024-03-30,57423.0,0.0,3163.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0
340113,SYR,Asia,Syria,2024-03-31,57423.0,0.0,3163.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0

In [60]:
df_syria2=df_syria[['date','total_cases', 'new_cases', 'total_deaths', 'new_deaths' ]]
df_syria2

              date  total_cases  new_cases  total_deaths  new_deaths
338657  2020-04-05         16.0       11.0           2.0         2.0
338658  2020-04-06         16.0        0.0           2.0         0.0
338659  2020-04-07         16.0        0.0           2.0         0.0
338660  2020-04-08         16.0        0.0           2.0         0.0
338661  2020-04-09         16.0        0.0           2.0         0.0
...            ...          ...        ...           ...         ...
340109  2024-03-27      57423.0        0.0        3163.0         0.0
340110  2024-03-28      57423.0        0.0        3163.0         0.0
340111  2024-03-29      57423.0        0.0        3163.0         0.0
340112  2024-03-30      57423.0        0.0        3163.0         0.0
340113  2024-03-31      57423.0        0.0        3163.0         0.0

[1457 rows x 5 columns]

In [38]:
df_syria2.to_sql('df_syria2',eng,index =False)
pd.read_sql('df_syria2',eng)

      total_cases  new_cases  total_deaths  new_deaths
0             5.0        5.0           NaN         0.0
1             5.0        0.0           NaN         0.0
2             5.0        0.0           NaN         0.0
3             5.0        0.0           NaN         0.0
4             5.0        0.0           NaN         0.0
...           ...        ...           ...         ...
1459      57423.0        0.0        3163.0         0.0
1460      57423.0        0.0        3163.0         0.0
1461      57423.0        0.0        3163.0         0.0
1462      57423.0        0.0        3163.0         0.0
1463      57423.0        0.0        3163.0         0.0

[1464 rows x 4 columns]

In [39]:
df_syria_recent = df_syria[df_syria['date'] == df_syria.date.max()]
df_syria_recent

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,total_vaccinations,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,aged_65_older,aged_70_older,female_smokers,male_smokers,population
340113,SYR,Asia,Syria,2024-03-31,57423.0,0.0,3163.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0

In [40]:
df_syria_recent.to_sql('df_syria_recent',eng,index =False)
pd.read_sql('df_syria_recent',eng)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,total_vaccinations,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,aged_65_older,aged_70_older,female_smokers,male_smokers,population
0,SYR,Asia,Syria,2024-03-31,57423.0,0.0,3163.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.577,NaN,NaN,22125242.0

In [41]:
df_syria_recent2=df_syria_recent[['date','total_cases', 'new_cases', 'total_deaths', 'new_deaths' ]]
df_syria_recent2

              date  total_cases  new_cases  total_deaths  new_deaths
340113  2024-03-31      57423.0        0.0        3163.0         0.0

In [42]:
df_syria_recent2.to_sql('df_syria_recent2',eng,index =False)
pd.read_sql('df_syria_recent2',eng)

         date  total_cases  new_cases  total_deaths  new_deaths
0  2024-03-31      57423.0        0.0        3163.0         0.0

In [79]:
df_syria4=df_syria[df_syria['new_deaths'] == df_syria['new_deaths'].max()]['date'].reset_index().reset_index(drop=True).drop("index",axis='columns')
df_syria4

         date
0  2021-10-24

In [93]:
df_syria_max=df_syria[['total_cases', 'new_cases', 'total_deaths', 'new_deaths' ]].max()
df_syria_max=pd.DataFrame([df_syria_max])
df_syria_max=pd.concat([df_syria4,df_syria_max],axis =1)
df_syria_max

         date  total_cases  new_cases  total_deaths  new_deaths
0  2021-10-24      57423.0     2517.0        3163.0       101.0

In [94]:
df_syria_max.to_sql('df_syria_max',eng,index =False)
pd.read_sql('df_syria_max',eng)

         date  total_cases  new_cases  total_deaths  new_deaths
0  2021-10-24      57423.0     2517.0        3163.0       101.0

In [51]:
l=df_syria['new_cases'].mean()
l

39.22336065573771

In [52]:
df_new_cases_syria_mean=pd.DataFrame([{'new_cases':l}])
df_new_cases_syria_mean

   new_cases
0  39.223361

In [53]:
df_new_cases_syria_mean.to_sql('df_new_cases_syria_mean',eng,index =False)
pd.read_sql('df_new_cases_syria_mean',eng)

   new_cases
0  39.223361

In [54]:
df_syria_mod = df_syria[['date', 'new_cases']]
df_syria_mod

              date  new_cases
338650  2020-03-29        5.0
338651  2020-03-30        0.0
338652  2020-03-31        0.0
338653  2020-04-01        0.0
338654  2020-04-02        0.0
...            ...        ...
340109  2024-03-27        0.0
340110  2024-03-28        0.0
340111  2024-03-29        0.0
340112  2024-03-30        0.0
340113  2024-03-31        0.0

[1464 rows x 2 columns]

In [55]:
df_syria_mod.to_sql('df_syria_mod',eng,index =False)
pd.read_sql('df_syria_mod',eng)

            date  new_cases
0     2020-03-29        5.0
1     2020-03-30        0.0
2     2020-03-31        0.0
3     2020-04-01        0.0
4     2020-04-02        0.0
...          ...        ...
1459  2024-03-27        0.0
1460  2024-03-28        0.0
1461  2024-03-29        0.0
1462  2024-03-30        0.0
1463  2024-03-31        0.0

[1464 rows x 2 columns]

In [56]:
df_syria_mod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1464 entries, 338650 to 340113
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1464 non-null   object
 1   new_cases  1464 non-null   float64
dtypes: float64(1), object(1)
memory usage: 34.3+ KB

In [55]:
df_no_world = df[df.location != 'World']

In [58]:
df_no_world.to_sql('df_no_world',eng,index =False)
pd.read_sql('df_no_world',eng)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,total_vaccinations,people_fully_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,aged_65_older,aged_70_older,female_smokers,male_smokers,population
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,54.422,2.581,1.337,NaN,NaN,41128772.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364499,ZWE,Africa,Zimbabwe,2024-03-27,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
364500,ZWE,Africa,Zimbabwe,2024-03-28,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
364501,ZWE,Africa,Zimbabwe,2024-03-29,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
364502,ZWE,Africa,Zimbabwe,2024-03-30,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0
364503,ZWE,Africa,Zimbabwe,2024-03-31,266359.0,0.0,5740.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,42.729,2.822,1.882,1.6,30.7,16320539.0

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366067 entries, 0 to 390683
Data columns (total 24 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   iso_code                             366067 non-null  object
 1   continent                            351728 non-null  object
 2   location                             366067 non-null  object
 3   date                                 366067 non-null  object
 4   total_cases                          340314 non-null  float64
 5   new_cases                            359158 non-null  float64
 6   total_deaths                         325544 non-null  float64
 7   new_deaths                           359483 non-null  float64
 8   reproduction_rate                    184776 non-null  float64
 9   icu_patients                         37101 non-null   float64
 10  hosp_patients                        38087 non-null   float64
 11  total_tests                          79375 non-null   float64
 12  new_tests                            75392 non-null   float64
 13  tests_per_case                       94348 non-null   float64
 14  total_vaccinations                   83346 non-null   float64
 15  people_fully_vaccinated              76172 non-null   float64
 16  people_vaccinated_per_hundred        79278 non-null   float64
 17  people_fully_vaccinated_per_hundred  76172 non-null   float64
 18  population_density                   328378 non-null  float64
 19  aged_65_older                        297268 non-null  float64
 20  aged_70_older                        304204 non-null  float64
 21  female_smokers                       227731 non-null  float64
 22  male_smokers                         224635 non-null  float64
 23  population                           366067 non-null  float64
dtypes: float64(20), object(4)
memory usage: 69.8+ MB

In [60]:
m=df_world['male_smokers'].unique()
m_s=m[0]
m_s

34.635

In [61]:
df_male_smokers=pd.DataFrame([{'male_smokers':m_s}])
df_male_smokers

   male_smokers
0        34.635

In [62]:
df_male_smokers.to_sql('df_male_smokers',eng,index =False)
pd.read_sql('df_male_smokers',eng)

   male_smokers
0        34.635

In [63]:
f=df_world['female_smokers'].unique()
f_s=f[0]
f_s

6.434

In [64]:
df_female_smokers=pd.DataFrame([{'female_smokers':f_s}])
df_female_smokers

   female_smokers
0           6.434

In [65]:
df_female_smokers.to_sql('df_female_smokers',eng,index =False)
pd.read_sql('df_female_smokers',eng)

   female_smokers
0           6.434

In [66]:
a70o=df_world['aged_70_older'].unique()
aged_70_older=a70o[0]
aged_70_older

5.355

In [67]:
df_aged_70_older=pd.DataFrame([{'aged_70_older':aged_70_older}])
df_aged_70_older

   aged_70_older
0          5.355

In [68]:
df_aged_70_older.to_sql('df_aged_70_older',eng,index =False)
pd.read_sql('df_aged_70_older',eng)

   aged_70_older
0          5.355

In [69]:
df_world_reproduction_rate1=df_world[['date','reproduction_rate']]
df_world_reproduction_rate=df_world_reproduction_rate1.dropna()
df_world_reproduction_rate

              date  reproduction_rate
384495  2020-01-23               3.15
384496  2020-01-24               3.32
384497  2020-01-25               3.48
384498  2020-01-26               3.55
384499  2020-01-27               3.59
...            ...                ...
385566  2022-12-29               0.94
385567  2022-12-30               0.94
385568  2022-12-31               0.95
385569  2023-01-01               0.95
385570  2023-01-02               0.94

[1076 rows x 2 columns]

In [70]:
df_world_reproduction_rate.to_sql('df_world_reproduction_rate',eng,index =False)
pd.read_sql('df_world_reproduction_rate',eng)

            date  reproduction_rate
0     2020-01-23               3.15
1     2020-01-24               3.32
2     2020-01-25               3.48
3     2020-01-26               3.55
4     2020-01-27               3.59
...          ...                ...
1071  2022-12-29               0.94
1072  2022-12-30               0.94
1073  2022-12-31               0.95
1074  2023-01-01               0.95
1075  2023-01-02               0.94

[1076 rows x 2 columns]

In [56]:
df_icu_hosp_patients=df_no_world[['date','continent','location','total_cases','hosp_patients','icu_patients']].dropna()
df_icu_hosp_patients

,date,continent,location,total_cases,hosp_patients,icu_patients
20229,2020-03-31,Oceania,Australia,3809.0,426.0,82.0
20230,2020-04-01,Oceania,Australia,3809.0,441.0,86.0
20231,2020-04-02,Oceania,Australia,3809.0,415.0,92.0
20232,2020-04-03,Oceania,Australia,3809.0,457.0,93.0
20233,2020-04-04,Oceania,Australia,3809.0,490.0,95.0
...,...,...,...,...,...,...
369322,2024-03-27,North America,United States,103436829.0,7721.0,1019.0
369323,2024-03-28,North America,United States,103436829.0,7555.0,997.0
369324,2024-03-29,North America,United States,103436829.0,7213.0,959.0
369325,2024-03-30,North America,United States,103436829.0,7035.0,925.0
369326,2024-03-31,North America,United States,103436829.0,7041.0,915.0

In [72]:
#table_icu_patients=pd.pivot_table(df_icu_patients,values=['total_cases','icu_patients'],index =['continent','location'],
                                  #aggfunc={'total_cases' :['max','min'],'icu_patients':['max','min']})
#table_icu_patients

In [73]:
#table_icu_patients=pd.pivot_table(df_icu_patients,values=['total_cases','icu_patients'],index ='location',
                                 # aggfunc={'total_cases' :['max','min'],'icu_patients':['max','min']})
#table_icu_patients

In [57]:
table_icu_hosp_patients_max=df_icu_hosp_patients.groupby('location')[['total_cases','hosp_patients','icu_patients',]].max().reset_index().sort_values("location",ascending=True).reset_index(drop=True)
table_icu_hosp_patients_max

          location  total_cases  hosp_patients  icu_patients
0        Australia   11679177.0         5571.0         424.0
1          Austria    6080775.0         4689.0         709.0
2          Belgium    4801652.0         7461.0        1474.0
3          Bolivia    1108648.0         2433.0         235.0
4         Bulgaria    1317573.0        10355.0         799.0
5           Canada    4785876.0        11489.0        1313.0
6           Cyprus     656904.0          301.0          57.0
7          Czechia    4758954.0         9552.0        1896.0
8          Denmark    3414007.0         1762.0         153.0
9          Estonia     600527.0          707.0          70.0
10         Finland    1429634.0         1089.0          83.0
11          France   38588428.0        33466.0        7019.0
12         Ireland    1725769.0         1610.0          92.0
13           Italy   26718988.0        38507.0        4068.0
14           Japan   33803572.0        44458.0        3034.0
15       Lithuania    1321540.0         1771.0         161.0
16      Luxembourg     380092.0          247.0          50.0
17        Malaysia    5277985.0        14753.0        1593.0
18     Netherlands    8635786.0         1918.0         769.0
19        Portugal    5519969.0         6869.0         904.0
20         Romania    3393902.0        20951.0        1902.0
21          Serbia    2542831.0         9731.0         353.0
22        Slovakia    1864631.0         3958.0         633.0
23        Slovenia    1338819.0         1324.0         289.0
24    South Africa    4002133.0        18034.0        2694.0
25     South Korea   30498878.0        22810.0        1299.0
26           Spain   13968644.0        27029.0        4894.0
27          Sweden    2700639.0         2776.0         560.0
28     Switzerland    4402475.0         3716.0         534.0
29  United Kingdom   22247777.0        38745.0        4077.0
30   United States  103436829.0       154497.0       28891.0

In [75]:
table_icu_hosp_patients_max.to_sql('table_icu_hosp_patients_max',eng,index=False)
pd.read_sql('table_icu_hosp_patients_max' ,eng)

          location  total_cases  hosp_patients  icu_patients
0        Australia   11679177.0         5571.0         424.0
1          Austria    6080775.0         4689.0         709.0
2          Belgium    4801652.0         7461.0        1474.0
3          Bolivia    1108648.0         2433.0         235.0
4         Bulgaria    1317573.0        10355.0         799.0
5           Canada    4785876.0        11489.0        1313.0
6           Cyprus     656904.0          301.0          57.0
7          Czechia    4758954.0         9552.0        1896.0
8          Denmark    3414007.0         1762.0         153.0
9          Estonia     600527.0          707.0          70.0
10         Finland    1429634.0         1089.0          83.0
11          France   38588428.0        33466.0        7019.0
12         Ireland    1725769.0         1610.0          92.0
13          Israel    4823349.0         3714.0         420.0
14           Italy   26718988.0        38507.0        4068.0
15           Japan   33803572.0        44458.0        3034.0
16       Lithuania    1321540.0         1771.0         161.0
17      Luxembourg     380092.0          247.0          50.0
18        Malaysia    5277985.0        14753.0        1593.0
19     Netherlands    8635786.0         1918.0         769.0
20        Portugal    5519969.0         6869.0         904.0
21         Romania    3393902.0        20951.0        1902.0
22          Serbia    2542831.0         9731.0         353.0
23        Slovakia    1864631.0         3958.0         633.0
24        Slovenia    1338819.0         1324.0         289.0
25    South Africa    4002133.0        18034.0        2694.0
26     South Korea   30498878.0        22810.0        1299.0
27           Spain   13968644.0        27029.0        4894.0
28          Sweden    2700639.0         2776.0         560.0
29     Switzerland    4402475.0         3716.0         534.0
30  United Kingdom   22247777.0        38745.0        4077.0
31   United States  103436829.0       154497.0       28891.0

In [76]:

df_tests_per_case=df_no_world[['date','continent','location','total_cases','tests_per_case']].dropna()
df_tests_per_case

              date continent     location  total_cases  tests_per_case
762     2022-02-05      Asia  Afghanistan     161666.0             2.1
763     2022-02-06      Asia  Afghanistan     165712.0             2.2
764     2022-02-07      Asia  Afghanistan     165712.0             2.3
765     2022-02-08      Asia  Afghanistan     165712.0             2.2
766     2022-02-09      Asia  Afghanistan     165712.0             2.1
...            ...       ...          ...          ...             ...
390031  2022-06-18    Africa     Zimbabwe     254098.0            17.3
390032  2022-06-19    Africa     Zimbabwe     254801.0            17.8
390033  2022-06-20    Africa     Zimbabwe     254801.0            19.5
390034  2022-06-21    Africa     Zimbabwe     254801.0            18.9
390035  2022-06-22    Africa     Zimbabwe     254801.0            23.7

[93402 rows x 5 columns]

In [77]:
df_tests_per_case=df_tests_per_case.groupby('location')[['total_cases','tests_per_case']].max().reset_index().sort_values("location",ascending=True).reset_index(drop=True)
df_tests_per_case

        location  total_cases  tests_per_case
0    Afghanistan     181574.0           173.5
1        Albania     277026.0          1067.6
2        Andorra      37589.0           156.5
3         Angola      99761.0           429.6
4       Anguilla       1039.0          1181.8
..           ...          ...             ...
168      Vanuatu         18.0            76.0
169      Vietnam   10432547.0            77.2
170        Yemen      11819.0           587.4
171       Zambia     322919.0           545.5
172     Zimbabwe     254801.0          1125.9

[173 rows x 3 columns]

In [78]:
df_tests_per_case.to_sql('df_tests_per_case',eng,index=False)
pd.read_sql('df_tests_per_case' ,eng)

        location  total_cases  tests_per_case
0    Afghanistan     181574.0           173.5
1        Albania     277026.0          1067.6
2        Andorra      37589.0           156.5
3         Angola      99761.0           429.6
4       Anguilla       1039.0          1181.8
..           ...          ...             ...
168      Vanuatu         18.0            76.0
169      Vietnam   10432547.0            77.2
170        Yemen      11819.0           587.4
171       Zambia     322919.0           545.5
172     Zimbabwe     254801.0          1125.9

[173 rows x 3 columns]

In [86]:
df_no_world["people_vaccinated_per_hundred"].dropna()

414        0.00
420        0.02
436        0.13
458        0.29
473        0.58
          ...
390136    39.43
390137    39.43
390138    39.43
390140    39.44
390144    39.45
Name: people_vaccinated_per_hundred, Length: 78047, dtype: float64

In [104]:
d_d=(df_world['population'])/10000
df_syria_people_vaccinated = df_no_world.groupby([d_d])["people_vaccinated"].sum().reset_index().sort_values(d_d,ascending=True).reset_index(drop=True)
df_syria_people_vaccinated

KeyError: 'Column not found: people_vaccinated'

In [80]:
df_syria_people_vaccinated.to_sql('df_syria_people_vaccinated',eng,index=False)
pd.read_sql('df_syria_people_vaccinated' ,eng)

In [ ]:
#****************************

In [100]:
df_fully_people_vaccinated=df_world.groupby('location')[["people_fully_vaccinated_per_hundred","people_vaccinated_per_hundred"]].max().reset_index().sort_values("location",ascending=True).reset_index(drop=True)
df_fully_people_vaccinated
#df_world[[,"people_fully_vaccinated_per_hundred","people_vaccinated_per_hundred"]].dropna()

  location  people_fully_vaccinated_per_hundred  people_vaccinated_per_hundred
0    World                                64.91                           70.6

In [101]:
df_fully_people_vaccinated.to_sql('df_fully_people_vaccinated',eng,index=False)
pd.read_sql('df_fully_people_vaccinated' ,eng)

  location  people_fully_vaccinated_per_hundred  people_vaccinated_per_hundred
0    World                                64.91                           70.6

In [83]:
###### maybe population_density
#Number of people divided by land area, measured in square kilometers, most recent year available